<div class="wrapper">
    <footer class="site-footer" role="contentinfo">
        <nav>
          <ul class="inline">
          {% for page in site.pages %}
            {% if page.title %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
          </ul>
          <br/>
        </nav >
        <nav>
          <ul class="site-social-links inline">
              <li><a target="_blank" title="RSS Feed" href="/feed.xml" class="ion-social-rss"></a></li>
              {% if site.guardian.social_links.email_subscription_url %}
              <li><a target="_blank" title="Email Subscription" href="{{ site.guardian.social_links.email_subscription_url }}" class="ion-email-unread"></a></li>
              {% endif %}
              <li><a target="_blank" title="GitHub" href="https://github.com/{{ site.guardian.social_links.github_org }}" class="ion-social-github"></a></li>
              <li><a target="_blank" title="Twitter" href="https://twitter.com/{{ site.guardian.social_links.twitter }}" class="ion-social-twitter"></a></li>
          </ul>
        </nav>
        <p>© Copyright {{ site.time | date: '%Y' }}, <a title="Widen Homepage" target="_blank" href="http://widen.com">Widen Enterprises, Inc.</a></p>

        <p><strong>Looking for work?</strong> <a title="Come engineer with us!" target="_blank" href="http://www.widen.com/careers/">Come engineer with us!</a></p>
        <p><strong>Something wrong with this page?</strong> Please <a title="Create new issue on bugtracker" target="_blank" href="https://github.com/{{ site.guardian.social_links.github_org }}/{{ site.guardian.social_links.github_repo }}/issues/new">file a bug</a>.</p>
        {% include git-info.html %}
    </footer>
</div>
