<div class="git-info">
<nav>
  <ul class="inline">
    <li>
        <a target="_blank" title="View site source on GitHub" href="{{ site.github_repository }}">source</a>
    </li>
    <li>
        <a target="_blank" title="View current page on GitHub" href="{{ site.github_repository }}/blob/master/{{page.path}}">view</a>
    </li>
    <li>
        <a target="_blank" title="Edit current page on GitHub" href="{{ site.github_repository }}/edit/master/{{page.path}}">edit</a>
    </li>
    <li>
        <a ="_blank" title="Last site commit" href="{{ site.github_repository }}/commit/{{ site.git.last_commit.short_sha }}">{{ site.git.last_commit.short_sha }}</a>
    </li>
    <li>
        <a target="_blank" title="Last page commit" href="{{ site.github_repository }}/commit/{{ page.git.last_commit.short_sha }}">{{ page.git.last_commit.short_sha }}</a>
    </li>
  </ul>
  </nav >
</div>
