<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="logo">
      <a href="{{ "/" | relative_url }}">
        <img width="400" alt="{{ site.title }} Logo" src="{{ site.guardian.style.logo_url }}">
      </a>
    </div>
    {% if site.guardian.social_links.email_subscription_url %}
      <a class="subscribe" target="_blank" title="Email Subscription" href="{{ site.guardian.social_links.email_subscription_url }}">Subscribe to Updates</a>
    {% endif %}
  </div>
</header>
